/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Roboto Serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

.bg-img{
  background-image: url('/assets/je-me-lance.svg');
  width: 100%;
  max-width: 1334px;
  background-size: cover;
}

.home-img{
  background-image: url('/assets/hero-image.jpg');
  width: 100%;
}




/* Hide the default checkbox */
.container-checkbox input {
  display: none;
}

.container-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #2196F300;
  border: 2px solid #1E1E1E; /* Add a border to make it visible */
  border-radius: 0.25em;
  transition: all 0.25s;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; /* Hide the checkmark initially */
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block; /* Show the checkmark when checked */
  left: 5px;
  top: 2px;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}


/* Radio */
.radio-buttons {
  display: flex;
  flex-direction: column;
  color: white;
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #aaa;
  position: relative;
  margin-right: 10px;
}

.radio-circle::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button:nth-of-type(1) input[type="radio"]:checked + .radio-circle::before {
  background-color: #ff6600;
}

.radio-button:nth-of-type(2) input[type="radio"]:checked + .radio-circle::before {
  background-color: #ffffff;
}

.radio-button:nth-of-type(3) input[type="radio"]:checked + .radio-circle::before {
  background-color: #26be00;
}

.radio-label {
  font-size: 16px;
  font-weight: bold;
}

.radio-button:hover .radio-circle {
  border-color: #555;
}

.radio-button:hover input[type="radio"]:checked + .radio-circle::before {
  background-color: #555;
}


.clear {
  clear: both;
}

.checkBoxWrapper {
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.checkBox {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #C8C8C8;
  border-radius: 4.04px;
  position: relative;
  overflow: hidden;
  transition: border 300ms ease;
}

.checkBoxWrapper input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.checkBoxWrapper input[type=checkbox]:checked + .checkBox {
  border: none;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #7E5728;
  position: absolute;
  top: -52px;
  left: -52px;
  transform: rotateZ(45deg);
  z-index: 100;
  transition: left 300ms ease, top 300ms ease;
}

.checkBoxWrapper input[type=checkbox]:checked + .checkBox div {
  left: -10px;
  top: -10px;
}
